<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body class="main-about-style">
    <div class="header">
            <ul class="navbar">
                <div class="navbar-left-content">
                    <li>WORK</li>
                    <li>ARTICLES</li>
                </div>
                <div class="navbar-logo"><img src="../layout/assets/logo.svg"></div>
                <div class="navbar-right-content">
                    <li>ABOUT</li>
                    <li>CONTACT</li>
                </div>
            </ul>
    </div>

    <div class="about-content">
        <div class="banner">
            <img src="../layout/assets/banner-image.png">
        </div>

        <p class="banner-title">Designing Robust & Scalable Solutions For Brands & Humans.</p>

        <p>
                Hello again! I am a New Delhi based product designer with ten years of extensive experience in 
                designing for <span class="text-bold">mobile apps and websites</span>. Currently I am working with the smart and passionate 
                people of <span class="text-bold">Appinventiv as their Design/Creative Head.</span>
                <br><br>
                As a kid, I loved drawing and painting. Nowdays, I find myself diving deep into UX processes 
                and translating them into pixel perfect user interface layouts.
        </p>

        <div class="qualifications-container">
            <div class="category">
                <span>Experience</span>
            </div>

            <div class="qualification">
                <div class="qualification-title">Design Head - UI/UX, Appinventiv</div>
                <div class="qualification-sub-title">2015 - PRESENT</div>
                <div class="qualification-details">
                        Working as product design lead on client project (Karavan and VEME) with <span class="bullet-points">VEME</span> being 
                        valued at <span class="bullet-points">4 Million evalution.</span>
                        <br><br>
                        Previously I have designed appinventiv website that contributed in ranking it <span class="bullet-points">number 1 on 
                        Clutch- a B2B review & rating platform</span>. Also I redesigned Mobile app daily, an online technology news publishing platform with 
                        <span  class="bullet-points">4K+ monthly visitors</span>.
                </div>

                <div class="qualification-title">Creative Head, Affle AppStudioz</div>
                <div class="qualification-sub-title">2012 - 2015</div>
                <div class="qualification-details">
                        Worked as core UI/UX designer, providing design leadership & supervision. Formed a team of <span class="bullet-points">30 UI designers</span>
                        from grounds up - providing mentorship to broaden their skills.
                </div>

                <div class="qualification-title">Visualizer, Xceed IT Solution</div>
                <div class="qualification-sub-title">2009 - 2012</div>
                <div class="qualification-details">
                        Designed end to end clean user interfaces and presented them to stakeholders articulating & rationalizing needs against 
                        user insights & business goals.
                </div>
            </div>

            <div class="category">
                    <span>Education</span>
                </div>
    
                <div class="qualification">
                    <div class="qualification-title">Apeejay Institute of Design</div>
                    <div class="qualification-sub-title">Bachelors in Multimedia | 2005- 2009</div>
                    <div class="qualification-details">
                            Pursued four years degree cource in multimedia design. The college was affliated from Guru Nanak Dev University, Amritsar
                    </div>
                </div>
    
        </div>
    </div>
    

    <div class="footer">
            <div class="footer-text">
                    Did something piqued your interest?
                    Awesome!<span class="contact"><a>Lets get in touch.</a></span>
            </div>
            
    
            <div class="copyright">
                <div>Crafted with love.</div>
                <div>© 2018. All rights reserved with Swati Soni.</div>   
            </div>
            <div class="social-media-footer-container">
                <a><img src="../layout/assets/twitter.png" class="social-media-icon"></a>
                <a><img src="../layout/assets/linkedIn.png" class="social-media-icon"></a>
                <a><img src="../layout/assets/instagram.png" class="social-media-icon"></a>
                <a><img src="../layout/assets/behance.png" class="social-media-icon"></a>
                <a><img src="../layout/assets/dribble.png" class="social-media-icon"></a>
                <a><img src="../layout/assets/media.png" class="social-media-icon"></a>
            </div>
    </div>
           
</body>
</html>