<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/id-style.css">
</head>
<body>
    <div class="case-study-container">
        <div class="case-study" id="vishion">

            <a class="btn-common category-header">
                <p class="category-header-text">UI/UX + Project Management</p>
            </a>
            <h1 class="header-common" id="vishion-header">Vishion</h1>
            <div class="case-study-description-container case-study-common" id="vishion-description">
                <p class="case-study-content">
                    An app that lets you search your favorite home decor product by 
                    colors from PANTONE colors or Sherin William paints</p>
                <a>View Case Study  →</a> 
            </div>
            

            <div class="image-common">
                <img src="../layout/assets/image-vishion.png">
            </div>
        </div>

        <div class="case-study" id="karavan">
            <div class="image-right-align">
                <img src="../layout/assets/group-1.svg">
            </div>
            <a class="btn-common category-header">
                <p class="category-header-text">UI/UX + Project Management</p>
            </a>
            <h1 class="header-common" id="karavan-header">Karavan</h1>
            <div class="case-study-description-container case-study-common" id="karavan-description">
                <p class="case-study-content">
                        A social media app build on machine learning that 
                        lets you and your friends post stories collectively.
                </p>
                <a>View Case Study  →</a> 
            </div>
            
    
            <div class="image-common">
                <img src="../layout/assets/phone.png">
            </div>
        </div>

        <div class="case-study" id="veme">

            <a class="btn-common category-header">
                <p class="category-header-text">UI/UX + Project Management</p>
            </a>
            <h1 class="header-common" id="veme-header">Veme</h1>
            <div class="case-study-description-container case-study-common" id="veme-description">
                <p class="case-study-content">
                        Valued at 4M evaluation, VEME is a social video network to
                            create video memes from a wide range of clips available.
                </p>
                <a>View Case Study  →</a> 
            </div>
            

            <div class="image-common">
                <img src="../layout/assets/image-veme.png">
            </div>
        </div>

        <div class="case-study" id="mobile-app-daily">

            <a class="btn-common category-header">
                <p class="category-header-text">Website+Logo Design</p>
            </a>
            <img src="../layout/assets/mad-logo.png" class="mad-logo">
            <div class="case-study-description-container case-study-common" id="mad-description">
                <p class="case-study-content">
                        An online mobile technology news publishing platform with an average of 400K+ visitors every month.
                </p>
                <a>View Case Study  →</a> 
            </div>
            

            <div class="image-common">
                <img src="../layout/assets/mobile-app-daily.png">
            </div>
        </div>
        
        <div class="case-study" id="awards">

            <a class="btn-common category-header">
                <p class="category-header-text">UI Design - iPad App</p>
            </a>
            <h1 class="header-common" id="veme-header">ET Startup Awards</h1>
            <div class="case-study-description-container case-study-common" id="awards-description">
                <p class="case-study-content">
                        An iPad app for the esteemed Economic Times Startup Awards 
                        that facilitates enterprenurship and leadership skills.
                </p>
                <a>View Case Study  →</a> 
            </div>
            

            <div class="image-common position-bottom-right">
                <img src="../layout/assets/startup-awards.png">
            </div>
        </div>

        <div class="case-study" id="app-inventive">
            <div class="image-center-align">
                <img src="../layout/assets/app-inventive-logo.png">
            </div>
            <a class="btn-common category-header">
                <p class="category-header-text">Website + Corporate Branding</p>
            </a>
            <h1 class="header-common" id="veme-header">Appinventive</h1>
            <div class="case-study-description-container case-study-common" id="awards-description">
                <p class="case-study-content">
                        Corporate identity and website design for one 
                        of India’s leading mobile app development company. 
                </p>
                <a>View Case Study  →</a> 
            </div>
            

            <div class="image-common position-bottom-right">
                <img src="../layout/assets/app-inventive-img.png">
            </div>
        </div>
    </div>

    <div class="ui-deck">
        <p class="ui-sample-header">Interested in seeing more UI samples?</p>
        <p class="ui-sample-text">Download my pdf deck with selected samples from individual projects.</p>
        <a class="btn-common ui-deck-download-btn">
            <p class="category-header-text">Download UI Deck</p>
        </a>
    </div>

</body>
