<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/id-style.css">
</head>
<body>
    <div class="case-study" id="vishion">

        <a class="Rectangle-2">
            <p class="category-header">UI/UX + Project Management</p>
        </a>

        <div class="case-study-description-container case-study-common" id="vishion-description">
            <h1 class="header-common" id="vishion-header">Vishion</h1>
            <p class="case-study-content">
                An app that lets you search your favorite home decor product by 
                colors from PANTONE colors or Sherin William paints</p>
            <a>View Case Study  →</a> 
        </div>
        

        <div class="image-common">
            <img src="../layout/assets/image-vishion.png">
        </div>
    </div>

    <div class="case-study" id="karavan">
            <img src="../layout/assets/group-1.svg" class="image-right-align">
            <a class="Rectangle-2">
                <p class="category-header">UI/UX + Project Management</p>
            </a>
    
            <div class="case-study-description-container case-study-common" id="karavan-description">
                <h1 class="header-common" id="karavan-header">Karavan</h1>
                <p class="case-study-content">
                        A social media app build on machine learning that 
                        lets you and your friends post stories collectively.
                </p>
                <a>View Case Study  →</a> 
            </div>
            
    
            <div class="image-common">
                <img src="../layout/assets/phone.png">
            </div>
    </div>

    <div class="case-study" id="veme">

            <a class="Rectangle-2">
                <p class="category-header">UI/UX + Project Management</p>
            </a>
    
            <div class="case-study-description-container case-study-common" id="veme-description">
                <h1 class="header-common" id="veme-header">Veme</h1>
                <p class="case-study-content">
                        Valued at 4M evaluation, VEME is a social video network to
                         create video memes from a wide range of clips available.
                </p>
                <a>View Case Study  →</a> 
            </div>
            
    
            <div class="image-common">
                <img src="../layout/assets/image-veme.png">
            </div>
        </div>
    
</body>
