<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="case-study" id="vishion">

        <div class="Rectangle-2">
            <p class="category-header">UI/UX + Project Management</p>
        </div>

        <div class="case-study-description-container" id="vishion-description">
            <h1 id="vishion-header">Vishion</h1>
            <p class="vishion-content">
                An app that lets you search your favorite home decor product by 
                colors from PANTONE colors or Sherin William paints</p>
            <p class="vishion-content">View Case Study  →</p> 
        </div>
        

        <div id="image-vishion">
            <img src="../layout/assets/image-vishion.png">
        </div>
    </div>
</body>
