<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css"> 
    <link rel="stylesheet" href="css/nav-bar.css">
    <link rel="stylesheet" href="css/body.css">
</head>
<body class="main-app-style">

    <div class="body-div background-main"> 
        <!-- Top Nav Bar -->
        <div id="nav-bar">
            <!-- Main Logo -->
            <div class="horizontal-layout nav-bar-logo">
                <img src="assets/logo-inv.png" width="50px" height="50px">
            </div>
            
            <!-- Nav Bar list -->
            <div class="horizontal-layout list-div">
                <ul class="nav-bar-list center-content">
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Home</li>
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Pages</li>
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Portfolio</li>
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Blog</li>
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Shop</li>
                    <li class="horizontal-layout nav-list-item horizontal-list-spacing">Features</li>
                </ul>
            </div>

            <!-- Options -->
            <div class="horizontal-layout nav-bar-options">
                <img src="assets/search-inv.png" class="icon-common" width="15px" height="15px">
                <img src="assets/bag-inv.png" class=" icon-common" width="15px" height="15px">
            </div>

        </div>

        <!-- Main Content -->
        <div id="main">
            <div id="tag">
                <h3 class="heading-margins sub-heading">The Great Outdoor</h3>
                <h1 class="heading-margins">Adventure</h1>
                <p>etiam sit amet nisl purus in mollis nunc sed id semper risus in hendrerit 
                    gravida rutrum quisque non tellus orci ac auctor augue mauris augue neque 
                    pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat</p>        
                <button id="book-now-btn"> <img src="assets/calendar-inv.png" width="15px" height="15px" class="icon-btn"><span>Book Now</span></button>
            </div>

            <div id="content" class="center-div"> 
                <h3 class="sub-heading heading-margins center-content"> EXPERIENCE </h3>
                <h1 class="heading-margins center-content">The Thrilling Outdoors</h1>
                <p class="center-content">etiam sit amet nisl purus in mollis nunc sed id semper risus in hendrerit 
                    pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat</p>        
            </div>

            <div id="activity-section" class="center-div">
                <div id="rafting" class="activity-item horizontal-layout">
                    <div class="activity-item-content">
                        <img src="assets/water-inv.png" class="activity-icon">
                        <h2>Rafting</h2>
                        <p>consectetur purus ut faucibus pulvinar elementum integer enim neque 
                            volutpat ac tincidunt vitae semper quis at volutpat diam</p>
                    </div>
                </div>
                <div id="hiking" class="activity-item horizontal-layout">
                    <div class="activity-item-content">
                        <img src="assets/compass-inv.png" class="activity-icon">
                        <h2>Hiking</h2>
                        <p>consectetur purus ut faucibus pulvinar elementum integer enim neque 
                                volutpat ac tincidunt vitae semper quis at volutpat diam</p>
    
                    </div>
                </div>
                <div id="camping" class="activity-item horizontal-layout">
                    <div class="activity-item-content">
                        <img src="assets/campfire-inv.png" class="activity-icon">
                        <h2>Camping</h2>
                        <p>consectetur purus ut faucibus pulvinar elementum integer enim neque 
                                volutpat ac tincidunt vitae semper quis at volutpat diam</p>
    
                    </div>
                </div>
        
            </div>

        </div>

        <!-- Footer -->
        <div id="footer">
            <div id="footer-content" class="center-div"> 
                    <h3 class="sub-heading heading-margins center-content"> LET THE </h3>
                    <h1 class="heading-margins center-content">Adventure Begin</h1>
            </div>
            <div class="footer-description center-div">
                <div class="footer-description-item horizontal-layout">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore magna aliqua. Pharetra vel turpis nunc eget. 
                         dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                         incididunt ut labore et dolore</p>
                    <div id="details-section">
                        <ul>
                            <li class="horizontal-layout horizontal-list-spacing">
                                <div class="details-section-list-item">
                                    <h4 class="sub-heading">When</h4>
                                    June 3rd - June 10th
                                </div>
                            </li>
                            <li class="horizontal-layout horizontal-list-spacing">
                                <div class="details-section-list-item">
                                    <h4 class="sub-heading">Where</h4>
                                    Breckenridge, CO
                                </div>
                            </li>
                        </ul>
                    </div>
            
                </div>
                <div class="footer-description-item horizontal-layout">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pharetra vel turpis nunc eget.
                            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore </p>
                    <div id="details-section">  
                        <ul>
                            <li class="horizontal-layout horizontal-list-spacing">
                                <div class="details-section-list-item">
                                        <h4 class="sub-heading">How Long</h4>
                                        7 Days& 7 Nights
                                    </div>
                                </li>
                            <li class="horizontal-layout horizontal-list-spacing">
                                <div class="details-section-list-item">
                                    <h4 class="sub-heading">How Much</h4>
                                    $100 per night
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div id="details-section">
                    <ul class="center-content">
                        <li class="horizontal-layout horizontal-list-spacing">
                            <div class="details-section-list-item">
                                <h4 class="sub-heading">When</h4>
                                June 3rd - June 10th
                            </div>
                        </li>
                        <li class="horizontal-layout horizontal-list-spacing">
                            <div class="details-section-list-item">
                                <h4 class="sub-heading">Where</h4>
                               Breckenridge, CO
                            </div>
                        </li>
                        <li class="horizontal-layout horizontal-list-spacing">
                            <div class="details-section-list-item">
                                    <h4 class="sub-heading">How Long</h4>
                                    7 Days& 7 Nights
                                </div>
                            </li>
                        <li class="horizontal-layout horizontal-list-spacing">
                            <div class="details-section-list-item">
                                <h4 class="sub-heading">How Much</h4>
                                $100 per night
                            </div>
                        </li>
                    </ul>
            </div> -->
        
        </div>
    </div>

</body>
</html>