<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/nav-bar.css">
  <link rel="stylesheet" href="css/body.css">
</head>
<body>

<!-- Top Nav Bar -->
<div class="nav-bar">
    <!-- Main Logo -->
    <div class="horizontal-layout nav-bar-logo">
        <img src="assets/logo.png" width="50px" height="50px">
    </div>
    
    <!-- Nav Bar list -->
    <div class="horizontal-layout list-div">
        <ul class="nav-bar-list">
            <li class="horizontal-layout nav-list-item">Home</li>
            <li class="horizontal-layout nav-list-item">Pages</li>
            <li class="horizontal-layout nav-list-item">Portfolio</li>
            <li class="horizontal-layout nav-list-item">Blog</li>
            <li class="horizontal-layout nav-list-item">Shop</li>
            <li class="horizontal-layout nav-list-item">Features</li>
        </ul>
    </div>

    <!-- Options -->
    <div class="horizontal-layout nav-bar-options">
        <img src="assets/bag.svg" class=" icon-common" width="15px" height="15px">
        <img src="assets/search.svg" class="icon-common" width="15px" height="15px">
    </div>

</div>


</body>
</html>