#vishion {
    background-color: #eceef1;
}


#vishion-header {
    width: 143px;
    height: 32px;
    color: #1f1f1f;
}

#karavan {
    width: 800px;
    height: 451px;
    background-color: #1a71f9;
    color: white;
}

#karavan-header {
    width: 161px;
    height: 30px;
    color: white;
}

#veme {
    background-color: #dce5f3
}

#mobile-app-daily {
    background-color: #262626;
}

#mad-description { 
    color: white
}

#awards {
    background-color: #ffbe0e;
}