.case-study {    
    width: 800px;
    height: 451px;
    position: relative;
    margin: 29px;
    overflow: hidden;
}

.content {
    display: inline-block;
}

.Rectangle-2 {
    position: absolute;
    top: 130px;
    left: 50px;
    width: 236px;
    height: 35px;
    object-fit: contain;
    border-radius: 17.3px;
    box-shadow: 0px 7px 8.3px 0.7px rgba(198, 207, 220, 0.34);
    background-color: #ffffff;

    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.case-study-description-container {
    position: absolute;
    top: 190px;
    left: 50px;
    bottom: 100px
}

.case-study-common {
    font-weight: bold;
}

.category-header {
    margin: auto;

    width: 199px;
    height: 14px;
    font-family: ProximaNovaA;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4e5a;
}

.case-study-content {
    width: 341px;
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
}

.header-common {
    font-family: Muli;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.65;
    letter-spacing: normal;
    text-align: left;
}

.image-common {
    float: right;
    width: 480px;
    height: 450px;
    object-fit: contain;
}

.image-right-align {
    position: absolute;
    padding-top: 10px;
    text-align: right;
}