#main{

}

#tag {
    /* padding-left: 6px; */
    width: 30%;
    margin: 120px;
    margin-top: 150px;
    margin-bottom: 200px;
}

#tag h1 {
    color: white;
}

#tag p {
    color: white;
}

.heading-margins {
    margin-bottom: 20px;
}

.sub-heading {
    color: orange;
}

#book-now-btn {
    margin-top: 40px;
    border-radius: 5px;
    background-color: orange;
}

#book-now-btn * {
    vertical-align: middle;
    color: white;
}

.icon-btn {
    margin: 7px;
    margin-right: 10px;
}

#content {
    width: 40%;
}

.center-content {
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

#activity-section {
    width: 80%;
}

.activity-item {
    margin: 150px 15px; 
    display: inline-block;
    width: 30%;
    height: 450px;
}

#rafting {
    background: url(../assets/rafting.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#hiking {
    background: url(../assets/hiking.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#camping {
    background: url(../assets/camping.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.activity-icon {
    width: 40px;
    height: 40px;
    text-align: left;
}

.activity-item-content {
    width: 60%;
    height: 450px;
    vertical-align: middle;
    margin: auto;
    color: white;
}