#nav-bar {
    display: block;
    padding-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
}

.horizontal-layout {
    display: inline-block;
}

.nav-bar-logo {
    float: left;
    width: 15%
}

.nav-bar-list {
    font-weight: bold;
    text-align: center;
}

.list-div {
    width: 70%;
}

.nav-list-item {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
    color: white;
}

.nav-bar-options {
    float: right;
    width: 15%;
}

.icon-common{
    float: right;
    padding:10px
}

